.SC1{
    background-color: grey;
    height: 300px;
    display:flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    .h1{
        font-size: 150%;
    }
    a:hover{
        color: orange!important;
    }
}
.SC2{
    margin-top: 8%;
    .container{
        width:80%;
    }

    input{
        height: 60px;
        border-radius: 10px;
        border-color: rgb(182, 180, 180);
    }
    textarea{
        border-radius: 10px;
    }
}
.SC3{
    justify-content: center;
    display:flex;
    margin-top: 8%;
}