nav{
    height: 75px;
    width: 100%;

}
.minidiv{
    display:flex;
}
.nav-link{
    color: white !important;
}
.nav-link:hover{
    color: $orange !important;
}
nav{
    .row{
        align-items: center;
    }
    .col{
        align-items: center;
        height: 60px;
    }
}