@media only screen and(max-width: 380px) { 
    body > header > nav > div > div{
        opacity: 0%;
    }
    .card.p-3{
        width: 90% !important;
    }
    .testimonial-list{
        display: block !important;
    }
    .col-md-6{
        width:auto;
    }
    .accordion{
        width: auto;
    }
    .SQ2{
        display:flex;
        flex-direction: column;
        height: auto;
    }
    .container2{
        display:flex;
        flex-direction: column;
    }
    .col.deux{
        img{
            width: 45%;
            height: 45%;
        }
    }
    .vide{
        opacity: 25%;
    }
    .SQ3{
        display: flex;
        flex-direction: column;
    }
    .SQ4{
        height: auto;
        .DS4{
            margin-top: 8%;
            height: auto;
            width:auto;
        }
    .S4T{
        margin-top: 75%;
    }
    .row{
        flex-direction: column;
        display: flex;
    }
    .col{
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    }
    .SQ6{
        margin-top: -75%;
        .col{
            display: flex;
            justify-content: center;
        }
        .container.titre{
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        }
        .text-orange{
            font-size:95%;
        }
        h1{
            font-size: 95%;
        }

    }
    .SQ7{
        .DS4{
            width: 90%;
        }
        .container.deux{
            height: auto;
            display: flex;
            justify-content: center;
        }
    }
    .col-md4.col-lg-3.col-xl-3.mx-auto.mb-md-0.mb-4{
        display: flex;
        justify-content: center;
        align-items: center;

    }
    footer{
        .footer-galery{
            display:flex;
            justify-content: center;
        }
        .footer-galery2{
            display:flex;
            justify-content: center;
        }
    }

    .carousel-item{
        background-size: cover !important;
    }
    body > main > section.SQ7 > div > div.container.deux > div > div:nth-child(2) > span{
        height: 50px!important;
    }
}
@media only screen and(max-width: 430px) { 
    #name{
        width: 80%;
    }
    #email{
        width: 80%;
    }
    body > main > section.SQ4 > div > div{
        height:15% !important;
    }


    .card.p-3{
        width: 90% !important;
    }
    .testimonial-list{
        display: block !important;
    }
    .col-md-6{
        width:auto;
    }
    .accordion{
        width: auto;
    }
    .SQ2{
        display:flex;
        flex-direction: column;
        height: auto;
    }
    .container2{
        display:flex;
        flex-direction: column;
    }
    .col.deux{
        img{
            width: 45%;
            height: 45%;
        }
    }
    .vide{
        opacity: 25%;
    }
    .SQ3{
        display: flex;
        flex-direction: column;
    }
    .SQ4{
        height: auto;
        .DS4{
            margin-top: 8%;
            height: auto;
            width:auto;
        }
    .S4T{
        margin-top: 75%;
    }
    .row{
        flex-direction: column;
        display: flex;
    }
    .col{
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    }
    .SQ6{
        margin-top: -75%;
        .col{
            display: flex;
            justify-content: center;
        }
        .container.titre{
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        }
        .text-orange{
            font-size:95%;
        }
        h1{
            font-size: 95%;
        }

    }
    .SQ7{
        .DS4{
            width: 90%;
        }
        .container.deux{
            height: auto;
            display: flex;
            justify-content: center;
        }
    }
    .col-md4.col-lg-3.col-xl-3.mx-auto.mb-md-0.mb-4{
        display: flex;
        justify-content: center;
        align-items: center;

    }
    footer{
        .footer-galery{
            display:flex;
            justify-content: center;
        }
        .footer-galery2{
            display:flex;
            justify-content: center;
        }
    }
    .SQ7{
        .col{
            height: 200px;
        }
    }
    body > header > nav > div > div{
        opacity: 0%;
    }
    .carousel-item{
        background-size: cover !important;
    }
    body > main > section.SQ4 > div > div{
        height:15% !important;
    }
    .SQ6{
        margin-top: 10px;
    }
    body > main > section.SQ7 > div > div.container.deux > div > div:nth-child(2) > span{
        height: 50px!important;
    }


}
@media only screen and(max-width: 770px) { 
    #name{
        width: 80%;
    }
    #email{
        width: 80%;
    }
    body > main > section.SQ7 > div > div.container.deux > div > div:nth-child(2) > span{
        height: 50px!important;
    }

    .card.p-3{
        width: 250px !important;
    }
    .testimonial-list{
        display: block !important;
    }
    .col-md-6{
        width:auto;
    }
    .accordion{
        width: auto;
    }
    .SQ2{
        display:flex;
        flex-direction: column;
        height: auto;
    }
    .container2{
        display:flex;
        flex-direction: column;
    }
    .col.deux{
        img{
            width: 45%;
            height: 45%;
        }
    }
    .vide{
        opacity: 25%;
    }
    .SQ3{
        display: flex;
        flex-direction: column;
    }
    .SQ4{
        height: auto;
        .DS4{
            margin-top: 8%;
            height: auto;
            width:auto;
        }
    .DS4{
        .col{
            width: auto;
            }
        }
    .S4T{
        margin-top: 75%;
        
    }
    .row{
        flex-direction: column;
        display: flex;
    }
    .col{
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    }
    .SQ6{
        .col{
            display: flex;
            justify-content: center;
        }
        .container.titre{
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        }
        .text-orange{
            font-size:95%;
        }
        h1{
            font-size: 95%;
        }

    }
    .SQ7{
        .DS4{
            width: 90%;
        }
        .container.deux{
            height: auto;
            display: flex;
            justify-content: center;
        }
    }
    .col-md4.col-lg-3.col-xl-3.mx-auto.mb-md-0.mb-4{
        display: flex;
        justify-content: center;
        align-items: center;

    }
    footer{

        .footer-galery{
            display:flex;
            justify-content: center;
        }
        .footer-galery2{
            display:flex;
            justify-content: center;
        }
        
    }
    .SQ7{
        .col{
            height: 200px;
        }
    }
    body > footer > section:nth-child(2) > div > div > div.col-md-4.col-lg-3.col-xl-3.mx-auto.mb-md-0.mb-4{
        width: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    body > footer > section:nth-child(2) > div > div > div.col-md-3.col-lg-4.col-xl-3.mx-auto.mb-4 > div{
        opacity: 0%;
    }
    .carousel-item{
        background-size: cover !important;
    }
    body > main > section.SQ4 > div > div{
        height:10% !important;
    }

}