.SQ4{
    display:flex;
    justify-content: center;
    .DS4{
        height: 800px;
        width: 70%;
        background-color: rgb(255, 233, 191);
    }
    .container.deux{
        width:95%;
        height:20%;
        background-color: orange;
    }
    .cont {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .col{
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        flex-direction:column;
    }

    .S4T{
        display:flex;
        justify-content: center;
        text-align: center;
        margin-top: 8%;
        flex-direction: column;
    }
}