.SQ6{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    .container.titre{
        width: 28%;
    }
    .container.trois{
        margin-top: 4%;
    }

}