.SQ4{
    display:flex;
    justify-content: center;
    .DS4{
        height: 800px;
        width: 70%;
        background-color: rgb(255, 233, 191);
    }
    .container{
        width:95%;
        height:20%;
        background-color: orange;
    }
}